@import "tailwindcss";

:root {
  --background: #F2F1EC;
  --main: #536056;
  --sec: #DADCD9;
}

@theme inline {
  --bg-bg: var(--background);
  --color-main: var(--main);
  --color-sec: var(--sec);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
